.hero_section {
  background-color: transparent;
  color: #333;
  padding: 100px 0;
}
.banner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  max-width: 50%;
}
.subTitleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.faramIcon {
  display: block;
}
.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: inline-block;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 40px 0;
  line-height: 1.3;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0 50px;
  color: #555;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff6b00;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e67e22;
}

.image-container {
  max-width: 35%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.timelineWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 20px;
}
.timeLine {
  display: flex;
  gap: 20px;
  align-items: center;
}
.timeLineDesc h3 {
  font-weight: 900;
}

.timeLineDesc h3:first-child {
  color: #ff6b00;
}
.tickWrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 40px;
}
